@import url(style.css);

/* Style Hero Section */

.hero .desc {
    line-height: 1.5;
}

.hero .primary-button {
    padding: 0.6rem 1.4rem;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: var(--fw-semibold);
}



/* Style Guarantee Section */

.guarantee .card {
    background-color: var(--white-color);
    user-select: none;
}

.guarantee .card-image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.guarantee .desc {
    font-size: 0.9rem;
}